<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Template</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <main id="root">
      <template id="plantilla">
        <div>
          <h2></h2>
          <div>
            <p></p>
            <p></p>
          </div>
        </div>
      </template>
    </main>
    <script type="module" src="app.js"></script>
  </body>
</html>
