* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #012;
  color: #fff;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card {
  width: 250px;
  border: 1px solid #fff;
  padding: 4px;
}
