@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --starchip--: #f3db4c;
  --MineShaft--: #343434;
  --Husk--: #b2a443;
  --Sycamore--: #94843c;
  --white--: #ffff;
  --padding: 8px;
  --margin: 10px;
  --border-radius: 8px;
  --transition: 1s;
  --maxwidth: 1400px;
}
::selection {
  background: var(--starchip--);
  color: var(--MineShaft--);
}
body {
  font-family: "Open Sans", sans-serif;
  background: var(--MineShaft--);
  color: var(--starchip--);
  line-height: 24px;
}
header {
  text-align: center;
  border-bottom: solid 1px var(--Sycamore--);
  margin-bottom: var(--margin);
}
section {
  padding: var(--padding);
}
.bg--green {
  background: var(--white--);
  color: var(--MineShaft--);
}
.paragraph__card {
  color: var(--MineShaft--);
}
.card__paragraph a {
  color: var(--Husk--);
  text-decoration: none;
}
h1,
h2 {
  padding: var(--padding);
}
p {
  font-size: 1rem;
  margin: 0 0 var(--margin);
  color: var(--white--);
}
p::first-letter {
  font-size: 1.4rem;
  color: var(--starchip--);
  font-weight: 700;
}
ul {
  list-style: none;
}
ul.list > li.item {
  cursor: pointer;
}
li.item:hover a {
  color: var(--MineShaft--);
}
.container {
  max-width: var(--maxwidth);
  margin: 0 auto;
  padding: var(--padding);
}
.margin--bottom {
  margin-bottom: var(--margin);
}
.search {
  display: flex;
  justify-content: end;
}
.search__form {
  border: solid 1px var(--starchip--);
  border-radius: var(--border-radius);
  padding: var(--padding);
  display: inline-grid;
  justify-content: end;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  gap: 4px;
}
.input {
  width: 100%;
  padding: var(--padding);
  outline: none;
  border-radius: var(--border-radius);
  border: none;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.card {
  width: 450px;
  border: solid 1px var(--Husk--);
  border-radius: var(--border-radius);
  margin: 0 auto;
}
.card__header {
  padding: var(--padding);
}
.card__title {
  text-wrap: wrap;
  word-break: break-all;
}
.card__body {
  padding: var(--padding);
}
.card__img {
  width: 100%;
}
.card__paragraph {
  padding: var(--padding);
}
.button {
  background: var(--starchip--);
  color: var(--MineShaft--);
  padding: var(--padding);
  border-radius: var(--border-radius);
  font-size: 1rem;
  font-weight: 600;
  border: solid 1px var(--starchip--);
  display: inline-flex;
  align-items: center;
}
.button--outline {
  background: var(--MineShaft--);
  color: var(--starchip--);
}
.button:hover {
  transition: var(--transition);
  background: var(--MineShaft--);
  color: var(--starchip--);
}
.button--outline:hover {
  background: var(--starchip--);
  color: var(--MineShaft--);
}
.button__text {
}
.button__icon {
  font-size: 1.4rem;
}
.list {
  text-align: center;
  padding: var(--padding);
}
.item {
  border-bottom: solid 1px var(--Husk--);
  padding: var(--padding);
  transition: var(--transition);
  font-size: 1.2rem;
}
.item:hover {
  background: var(--Sycamore--);
  color: var(--MineShaft--);
}
ul.list > li.item a:visited {
  color: var(--starchip--);
}
.item:last-child {
}
